<div class="jumbotron center about-custom">
    <div class="button-centered">
      <h1>Issues Roster</h1>
      <%= link_to 'Sign in with Github', auth_github_path, :class => "btn btn-success btn-lg" %>
    </div>
</div>