---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/flatiron-school/progress-tracker/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token X1cf5a6fakef13d0135609d1a9a5ea447986b5ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1444253433'
      Etag:
      - '"53b65b364f4a6f83b3669f7ee82341c9"'
      X-Oauth-Scopes:
      - read:org, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - e9f3487f50973feed751
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/flatiron-school/progress-tracker/issues/2","labels_url":"https://api.github.com/repos/flatiron-school/progress-tracker/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/flatiron-school/progress-tracker/issues/2/comments","events_url":"https://api.github.com/repos/flatiron-school/progress-tracker/issues/2/events","html_url":"https://github.com/flatiron-school/progress-tracker/issues/2","id":26061275,"number":2,"title":"Percentage
        complete calculation needs to be unified. ","user":{"login":"arelenglish","id":1619902,"avatar_url":"https://avatars.githubusercontent.com/u/1619902?v=3","gravatar_id":"","url":"https://api.github.com/users/arelenglish","html_url":"https://github.com/arelenglish","followers_url":"https://api.github.com/users/arelenglish/followers","following_url":"https://api.github.com/users/arelenglish/following{/other_user}","gists_url":"https://api.github.com/users/arelenglish/gists{/gist_id}","starred_url":"https://api.github.com/users/arelenglish/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/arelenglish/subscriptions","organizations_url":"https://api.github.com/users/arelenglish/orgs","repos_url":"https://api.github.com/users/arelenglish/repos","events_url":"https://api.github.com/users/arelenglish/events{/privacy}","received_events_url":"https://api.github.com/users/arelenglish/received_events","type":"User","site_admin":false},"labels":[{"url":"https://api.github.com/repos/flatiron-school/progress-tracker/labels/bug","name":"bug","color":"fc2929"}],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2014-01-22T01:56:38Z","updated_at":"2014-01-22T01:56:38Z","closed_at":null,"body":"This
        isn''t a big deal, but right now percentage complete is calculated both by
        `(number of required badges earned) / (number of required badges`) and by
        `((percentage of site1 required badges earned + percentage of site2 required
        badges earned + percentage of site3 required badges earned)/ number of sites)`\r\n\r\nThe
        numbers are different, but not enough to make a difference for our purposes
        right now, but eventually we should switch to using completed badges / total
        badges * 100 to calculate % completed for both each website and for total
        completion percentage.  "}]'
  recorded_at: Wed, 07 Oct 2015 20:30:36 GMT
recorded_with: VCR 2.9.3
