---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token X1cf5a6fakef13d0135609d1a9a5ea447986b5ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1444253433'
      Etag:
      - '"a63a7f428a07d89a6dd6bef21953ab53"'
      X-Oauth-Scopes:
      - read:org, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - e9f3487f50973feed751
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"login":"flatiron-school","id":2180076,"url":"https://api.github.com/orgs/flatiron-school","repos_url":"https://api.github.com/orgs/flatiron-school/repos","events_url":"https://api.github.com/orgs/flatiron-school/events","members_url":"https://api.github.com/orgs/flatiron-school/members{/member}","public_members_url":"https://api.github.com/orgs/flatiron-school/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/2180076?v=3","description":""},{"login":"flatiron-labs","id":6616956,"url":"https://api.github.com/orgs/flatiron-labs","repos_url":"https://api.github.com/orgs/flatiron-labs/repos","events_url":"https://api.github.com/orgs/flatiron-labs/events","members_url":"https://api.github.com/orgs/flatiron-labs/members{/member}","public_members_url":"https://api.github.com/orgs/flatiron-labs/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/6616956?v=3","description":"Engineering
        arm of Flatiron [...]
