---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/flatiron-school/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token X1cf5a6fakef13d0135609d1a9a5ea447986b5ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1444253433'
      Etag:
      - '"29e5e9df26074b65ce5a4b7d8c9363f7"'
      X-Oauth-Scopes:
      - read:org, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - e9f3487f50973feed751
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/organizations/2180076/repos?page=2>; rel="next", <https://api.github.com/organizations/2180076/repos?page=3>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":5767661,"name":"001.students.flatironschool.com","full_name":"flatiron-school/001.students.flatironschool.com","owner":{"login":"flatiron-school","id":2180076,"avatar_url":"https://avatars.githubusercontent.com/u/2180076?v=3","gravatar_id":"","url":"https://api.github.com/users/flatiron-school","html_url":"https://github.com/flatiron-school","followers_url":"https://api.github.com/users/flatiron-school/followers","following_url":"https://api.github.com/users/flatiron-school/following{/other_user}","gists_url":"https://api.github.com/users/flatiron-school/gists{/gist_id}","starred_url":"https://api.github.com/users/flatiron-school/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/flatiron-school/subscriptions","organizations_url":"https://api.github.com/users/flatiron-school/orgs","repos_url":"https://api.github.com/users/flatiron-school/repos","events_url":"https://api.github.com/users/flatiron-school/events{/privacy}","received_events_url":"https://api.github.com/users/flatiron-school/received_events","type":"Organization","site_admin":false},"private":true,"html_url":"https://github.com/flatiron-school/001.students.flatironschool.com","description":"Students
        Page for Flatiron School","fork":false,"url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com","forks_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/forks","keys_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/keys{/key_id}","collaborators_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/teams","hooks_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/hooks","issue_events_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/issues/events{/number}","events_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/events","assignees_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/assignees{/user}","branches_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/branches{/branch}","tags_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/tags","blobs_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/git/refs{/sha}","trees_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/git/trees{/sha}","statuses_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/statuses/{sha}","languages_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/languages","stargazers_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/stargazers","contributors_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/contributors","subscribers_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/subscribers","subscription_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/subscription","commits_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/commits{/sha}","git_commits_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/git/commits{/sha}","comments_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/comments{/number}","issue_comment_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/issues/comments{/number}","contents_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/contents/{+path}","compare_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/compare/{base}...{head}","merges_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/merges","archive_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/downloads","issues_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/issues{/number}","pulls_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/pulls{/number}","milestones_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/milestones{/number}","notifications_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/labels{/name}","releases_url":"https://api.github.com/repos/flatiron-school/001.students.flatironschool.com/releases{/id}","created_at":"2012-09-11T17:06:51Z","updated_at":"2014-06-12T19:30:56Z","pushed_at":"2013-04-11T21:08:52Z","git_url":"git://github.com/flatiron-school/001.students.flatironschool.com.git","ssh_url":"git@github.com:flatiron-school/001.students.flatironschool.com.git","clone_url":"https://github.com/flatiron-school/001.students.flatironschool.com.git","svn_url":"https://github.com/flatiron-school/001.students.flatironschool.com","homepage":null,"size":28818,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":26,"mirror_url":null,"open_issues_count":13,"forks":26,"open_issues":13,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":8882954,"name":"handraise-redux","full_name":"flatiron-school/handraise-redux","owner":{"login":"flatiron-school","id":2180076,"avatar_url":"https://avatars.githubusercontent.com/u/2180076?v=3","gravatar_id":"","url":"https://api.github.com/users/flatiron-school","html_url":"https://github.com/flatiron-school","followers_url":"https://api.github.com/users/flatiron-school/followers","following_url":"https://api.github.com/users/flatiron-school/following{/other_user}","gists_url":"htt[...]
